fastapi==0.115.4
uvicorn==0.32.0
python-dotenv==1.0.1
distutils-strtobool==0.1.0
transformers==4.46.2
PyPDF2==3.0.1
datasets==3.1.0
python-multipart==0.0.17
evaluate==0.4.3
scikit-learn==1.5.2
torch==2.5.1
sentencepiece==0.2.0
protobuf==5.28.3
nltk==3.9.1
