@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(38, 37, 37);
    background: linear-gradient(45deg, rgba(38, 37, 37, 1) 30%, rgba(78, 78, 78, 1) 100%);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    color: #d4d4d4;
    font-family: "JetBrains Mono", monospace;
    overflow: hidden;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
}

.upload-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: auto; 
    transition: color 0.3s;
    color: #757575;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.upload {
    transition: ease-in-out .3s;
}

.upload-text {
    transition: ease-in-out .3s;
}

.upload-button:hover {
    .upload-text {
        color: #ffffff;
    }

    .upload {
        transform: scale(1.05);
    }
}
